@inherits LayoutComponentBase

<div class="fixed-sidebar @ActiveClass">
    <SideNav></SideNav>
</div>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <div class="is-hidden-tablet mr-5" @onclick="Click" >
                <i class="fa fa-bars"></i>
            </div>
            BulmaBlazor 
        </div>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <Icon class="is-medium" Name="fab fa-github" ></Icon>
            </div>
        </div>
    </div>
</nav>


<div class="main">
<div class="columns is-gapless">
    <div class="column is-hidden-mobile is-narrow">
        <SideNav></SideNav>
    </div>

    <div class="column">
        <div class="main-body">
            @Body
        </div>
    </div>
</div>
    

</div>

@code {
    private bool isActive = false;

    private string ActiveClass => isActive ? "active" : "";

    private void Click()
    {
        isActive = !isActive;
    }
}
