<div class="sidenav has-background-light"> 
    <div class="columns is-gapless is-multiline is-mobile">

                <div class="column is-full">
                    <figure class="image is-square">
                        <img src="/assets/bulmablazor.png">
                    </figure>
                </div>

                <div class="column is-full">
                    <NavLink class="item" href="" Match="NavLinkMatch.All">
                            <div> Home </div>
                    </NavLink>
                </div>

                <div class="column is-full">
                    <NavLink class="item" href="/button" >
                            <div> Buttons </div>
                    </NavLink>
                </div>

                <div class="column is-full">
                    <NavLink class="item" href="/table" >
                            <div> Tables </div>
                    </NavLink>
                </div>

                <div class="column is-full">
                    <NavLink class="item" href="/tabs" >
                            <div> Tabs </div>
                    </NavLink>
                </div>

                <div class="column is-full">
                    <NavLink class="item" href="/breadcrumb" >
                            <div> Breadcrumb </div>
                    </NavLink>
                </div>

    </div>


</div>