@implements ITab


<li @onclick="Activate" class="@ActiveClass"><a>@ChildContent</a></li>

@code {
    [CascadingParameter]
    public Tabs ContainerTabSet { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string ActiveClass => ContainerTabSet.ActiveName == Name ? "is-active" : null;

    protected override void OnInitialized()
    {
        ContainerTabSet.AddTab( Name );
    }

    private void Activate()
    {
        ContainerTabSet.SetActivateTab( Name );
    }
}