@page "/"

<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        BulmaBlazor
      </h1>
      <h2 class="subtitle">
        UI Component Library for blazor
      </h2>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
      <h1 class="title">Install</h1>
      <h2>
        Using dotnet cli
      </h2>
      <div>
          <code>
              dotnet add package BulmaBlazor --version 0.1.0-alpha
          </code>
      </div>
      <br>
      <h2>
        Using  package reference
      </h2>
      <div>
          <code>
              Install-Package BulmaBlazor -Version 0.1.0-alpha
          </code>
      </div>
    </div>
</section>

@code {

}