@page "/"

<Snippet>
    <Output>
        <Button>Button</Button>
        <Button Type="submit">Submit</Button>
        <Button Type="reset">Reset</Button>
    </Output>
    <Code>
@("<Button>Button</Button>")
@("<Button Type=\"submit\">Submit</Button>")
@("<Button Type=\"reset\">Reset</Button>")        
    </Code>
</Snippet>

@code {
}