@page "/tabs"

<Tabs @bind-ActiveName="tabSelected" >
    <Tab Name="Music">Music</Tab>
    <Tab Name="Picture">Picture</Tab>
</Tabs>

<div class="container">
    <TabContent ActiveName="@tabSelected">
        <TabContentItem Name="Music">
            <div>Hear the music</div>
        </TabContentItem>
        <TabContentItem Name="Picture">
            <div>See the Picture</div>
        </TabContentItem>
    </TabContent>
</div>

@code {
    string tabSelected;
}