@implements IDisposable

<div class="@animationClass">
    @ChildContent
</div>

@code {

    private string animationClass = "enter";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            animationClass = "";
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        animationClass = "exit";
    }
}