
<CascadingValue Value=this>
<div class="tabs">
  <ul>
    @ChildContent
  </ul>
</div>
</CascadingValue>

@code {
    //
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string ActiveName { get; set; }

    [Parameter]
    public EventCallback<string> ActiveNameChanged { get; set; }

    public void AddTab( string activeName )
    {
        if ( ActiveName == null )
        {
            SetActivateTab( activeName );
        }
    }

    public void RemoveTab( string activeName )
    {
        if ( ActiveName == activeName )
        {
            SetActivateTab( null );
        }
    }

    public void SetActivateTab( string activeName )
    {
        if ( ActiveName != activeName )
        {
            ActiveName = activeName;
            ActiveNameChanged.InvokeAsync( activeName );
            StateHasChanged();
        }
    }
}