html{
  height: 100%;
  overflow: hidden;
}

body{
  min-height: 100%;
  overflow: hidden;
}

:root {
  --sidenav-color-hover: hsl(0, 0%, 84%);
  @media (prefers-color-scheme: dark) {
    --sidenav-color-hover: hsl(0, 0%, 16%);
  }
}

.fixed-sidebar {
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 50px; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.fixed-sidebar.active {
  width: 250px;
} 

.sidenav {
  width: 250px;
  min-height: 90vh;
  max-height: 100vh;
}

.main-body { 
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidenav .item {
  width: 100%;
  color: var(--bulma-label-color);
}

.sidenav .item div {
  height: 45px;
  font-size: 1rem;
  padding: 10px;
}

.sidenav .item div:hover {
  background-color: var(--sidenav-color-hover);
}

.sidenav .active div {
  background-color: hsl(204, 86%, 53%);
  color: white;
}

pre code {
  color: #f14668
}

.output {
  padding: 10px;
}

.snippet {
  border: 1px solid hsl(0, 0%, 90%);
  margin: 10px;
}

.app-content {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
}

.progress-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress-container progress {
  width: 90%;
}