html{
  height: 100%;
  overflow: hidden;
}

body{
  min-height: 100%;
  overflow: hidden;
}

.fixed-sidebar {
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.fixed-sidebar.active {
  width: 250px;
} 

.sidenav {
  width: 250px;
  min-height: 90vh;
  max-height: 100vh;
}

.main-body { 
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidenav .item {
  width: 100%;
  color: hsl(0, 0%, 21%);
}

.sidenav .item div {
  height: 45px;
  font-size: 1rem;
  padding: 10px;
}

.sidenav .item div:hover {
  background-color: hsl(0, 0%, 71%);
}

.sidenav .active div {
  background-color: hsl(204, 86%, 53%);
  color: white;
}

pre code {
  color: #f14668
}

.output {
  padding: 10px;
}

.snippet {
  border: 1px solid hsl(0, 0%, 90%);
  margin: 10px;
}

.app-content {
  margin: 10px;
}